{
	"singleQuote": true,
	"tabWidth": 2,
	"useTabs": true,
	"overrides": [
		{
			"files": ["*.ts.template"],
			"options": {
				"parser": "typescript"
			}
		},
		{
			"files": ["*.json.template"],
			"options": {
				"parser": "json"
			}
		},
		{
			"files": ["*.svelte"],
			"options": {
				"parser": "svelte"
			}
		}
	]
}
